In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
from sqlalchemy import create_engine, text

In [3]:
database_name = 'Scooters'

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [6]:
engine = create_engine(connection_string)

# trips table
### EDA 
#### row count

In [7]:
query = '''
SELECT COUNT(*)
FROM trips;
'''

In [8]:
with engine.connect() as connection:    
    trips_count = pd.read_sql(text(query), con = connection)
trips_count

    count
0  565522

# create_dt
### EDA 
Create_dt ranges from 2019-05-02 to 2019-08-02.
Timestamps start two days after the end of a month period.

#### Q. Is create_dt needed for analysis of neg/pos/0 value duration and distance patterns?
Should it be dropped from cleaned table?

In [9]:
query = '''
SELECT create_dt
FROM trips;
'''

In [10]:
#for EDA on create_dt - what does this column show related to other timestamps?
with engine.connect() as connection:    
    create_dt = pd.read_sql(text(query), con = connection)
create_dt

                     create_dt
0      2019-07-21 10:52:54.647
1      2019-07-21 05:31:02.360
2      2019-07-21 05:31:02.330
3      2019-07-21 05:31:02.110
4      2019-07-21 05:31:02.267
...                        ...
565517 2019-07-21 10:52:54.493
565518 2019-07-21 10:52:54.523
565519 2019-07-21 10:52:54.553
565520 2019-07-21 10:52:54.587
565521 2019-07-29 09:18:06.940

[565522 rows x 1 columns]

# CU3 - EDA
### tripduration
NOTE: Under the 24-hour clock system, the day begins at midnight, 00:00, and the last minute of the day begins at 23:59 and ends at 24:00, which is identical to 00:00 of the following day. 12:00 can only be mid-day. Midnight is called 24:00 and is used to mean the end of the day and 00:00 is used to mean the beginning of the day. https://simple.wikipedia.org/wiki/24-hour_clock

#### tripduration - MAX: 512619.0, MIN: -19.358267

#### Review neg values, 0 values, nulls, relative to other time-related columns to see if there is a pattern
Relates to: Q2, Are scooter companies in compliance? 
Are we able to determine what might be staff servicing and test trips?

#### Summary of negative value EDA on tripduration
There are 8 total negative tripdurations, all with positive trip distance.  They occured on just two dates: 2019-06-21 and 2019-07-18. Did not find any meaningful events happening on those dates in Nashville.  All trips were less than a mile (4540 ft = .86 mile), and the majority of them were initiatiated late at night or just after midnight.  Start date/times and end times do not seem correct on all of them related to trip duration, some are going backwards.z

Q. Are these 8 negative values outliers due to some kind of system error, or refunds, as Dani suggested?

Q. Should our compiled table have negative values removed on trip distance?

In [11]:
#pull date/time columns for analysis with a negative tripduration
query = '''
SELECT tripduration, tripdistance, startdate, starttime, enddate, endtime, create_dt 
FROM trips
WHERE tripduration < 0;
'''

In [12]:
with engine.connect() as connection:    
    neg_duration = pd.read_sql(text(query), con = connection)

In [13]:
neg_duration

,tripduration,tripdistance,startdate,starttime,enddate,endtime,create_dt
0,-1.359867,3166.01060,2019-06-21,22:23:01.316666,2019-06-21,22:21:39.726666,2019-06-22 08:31:56.090
1,-10.242417,52.49344,2019-07-18,23:59:35.683333,2019-07-18,23:49:21.136666,2019-07-20 10:52:39.020
2,-0.501317,3799.21272,2019-07-18,23:49:45.476666,2019-07-18,23:49:15.396666,2019-07-20 10:52:39.223
3,-4.618833,3061.02372,2019-07-18,23:53:53.926666,2019-07-18,23:49:16.796666,2019-07-20 10:52:39.343
4,-8.003717,3484.25208,2019-06-21,21:32:09.170000,2019-06-21,21:24:08.946666,2019-06-22 08:31:51.090
5,-0.715917,2214.56700,2019-07-18,23:50:34.650000,2019-07-18,23:49:51.693333,2019-07-19 10:49:30.810
6,-10.975100,3641.73240,2019-07-19,00:00:24.016666,2019-07-18,23:49:25.513333,2019-07-20 10:52:39.657
7,-19.358267,4540.68256,2019-07-19,00:09:04.506666,2019-07-18,23:49:43.013333,2019-07-20 10:52:39.737

In [14]:
#count negative tripduration entries
query = '''
SELECT COUNT(tripduration)
FROM trips
WHERE tripduration < 0;
'''

In [15]:
with engine.connect() as connection:    
    count_negative_td = pd.read_sql(text(query), con = connection)
count_negative_td

   count
0      8

#### Summary of nulls EDA on tripduration
There are no null values in tripduration.

In [16]:
#count null tripdurations
query = '''
SELECT COUNT(tripduration)
FROM trips
WHERE tripduration IS NULL;
'''

In [17]:
with engine.connect() as connection:    
    count_nulls = pd.read_sql(text(query), con = connection)
count_nulls

   count
0      0

#### Summary of 0.00 values in  tripduration
There are 4624 entries with 0.00 in tripduration.

Q. Why would there be zero values in trip duration?  Could these be due to servicing of the scooters?

In [18]:
#count zero tripdurations
query = '''
SELECT COUNT(tripduration)
FROM trips
WHERE tripduration = 0;
'''

In [19]:
with engine.connect() as connection:    
    count_zero = pd.read_sql(text(query), con = connection)
count_zero

   count
0   4624

In [20]:
#pull zero tripdurations
query = '''
SELECT tripduration
FROM trips
WHERE tripduration = 0;
'''

In [21]:
with engine.connect() as connection:    
    pull_zero = pd.read_sql(text(query), con = connection)
pull_zero

      tripduration
0              0.0
1              0.0
2              0.0
3              0.0
4              0.0
...            ...
4619           0.0
4620           0.0
4621           0.0
4622           0.0
4623           0.0

[4624 rows x 1 columns]

#### Summary of positive values in  tripduration
There are 560890 entries with positive values in tripduration.

In [22]:
#count tripdurations with positive numbers
query = '''
SELECT COUNT(tripduration)
FROM trips
WHERE tripduration > 0;
'''

In [23]:
with engine.connect() as connection:    
    zero_distance = pd.read_sql(text(query), con = connection)
zero_distance

    count
0  560890

#### Summary of positive values in  tripduration
There are 560890 entries with positive values in tripduration.

# CU3 - EDA
### tripdistance

#### tripdistance - MAX: 3.188448e+07, MIN: -20324803.8 
Q. What does the "e+07" etc. indicate in tripduration?   
A. Tripdistance is formatted in scientific notation

RE: Scientific notation: means any number expressed in the power of 10.for example- 340 can be written in scientific notation as 3.4 X102.in pythons, we use str.format() on a number with “{:e}” to format the number to scientific notation. str.format() formats the number as a float, followed by “e+” and the appropriate power of 10. For example- 340 will be displayed as 3.4e+2 https://www.geeksforgeeks.org/display-scientific-notation-as-float-in-python/

#### Summary of negative value EDA on tripduration
There are 32 negative values in tripdistance.  These indicate failure to comply with regulations to only include trips greater than one minute.

They consistently fall within the 1st 5, middle 3, or last 5 days of the month, which could be related to regular staff servicing or testing.  The starttimes mostly fall early in the morning before morning rush hour, or after the evening rush, which again, may indicate staff servicing or testing times. Trip duration are all evenly rounded, which may indicate a tag for tracking staff service or testing time.

There 4305 entries with 0.0 tripdistance and 0.0 tripduration.  We could try grouping these by startdate and starttime to look at any patterns to see if these also may be related to staff service, testing times, or system errors.

There seem to be issues sorting on scientific notation both through SQL code and with Python.

In [45]:
#count tripdistance negative values
query = '''
SELECT COUNT(tripdistance)
FROM trips
WHERE tripdistance < 0;
'''

In [46]:
with engine.connect() as connection:    
    cnt_neg_distance = pd.read_sql(text(query), con = connection)
cnt_neg_distance

   count
0     32

In [47]:
#pull date/time columns for analysis with a negative tripdistance, sorted by startdate
query = '''
SELECT tripduration, tripdistance, startdate, starttime, enddate, endtime, create_dt 
FROM trips
WHERE tripdistance < 0
ORDER BY startdate;
'''

In [44]:
with engine.connect() as connection:    
    pull_neg_distance = pd.read_sql(text(query), con = connection)
pull_neg_distance

,tripduration,tripdistance,startdate,starttime,enddate,endtime,create_dt
0,3.0,-1.119964e+06,2019-05-03,03:36:18.613333,2019-05-03,03:39:28.660000,2019-05-04 05:30:38.683
1,2.0,-1.684806e+06,2019-05-04,17:44:47.986666,2019-05-04,17:46:26.800000,2019-05-05 05:31:18.497
2,2.0,-1.685315e+06,2019-05-04,20:40:10.926666,2019-05-04,20:42:18.600000,2019-05-05 05:31:48.947
3,1.0,-1.684971e+06,2019-05-04,18:20:53.513333,2019-05-04,18:21:46.796666,2019-05-05 05:31:23.903
4,3.0,-1.684701e+06,2019-05-04,03:23:54.140000,2019-05-04,03:26:29.310000,2019-05-05 05:30:42.633
5,60.0,-2.129265e+03,2019-05-05,15:51:56.323333,2019-05-05,16:51:37.006666,2019-05-06 05:31:09.407
6,3.0,-6.296916e+04,2019-05-14,18:25:49.013333,2019-05-14,18:28:26.620000,2019-05-15 05:31:25.173
7,3.0,-2.624672e+03,2019-05-14,19:34:54.086666,2019-05-14,19:38:12.580000,2019-05-15 05:31:34.027
8,20.0,-3.280840e+03,2019-05-14,19:42:58.320000,2019-05-14,20:03:13.833333,2019-05-15 05:31:36.630
9,22.0,-3.608924e+03,2019-05-14,19:40:56.146666,2019-05-14,20:03:06.506666,2019-05-15 05:31:36.690
10,3.0,-9.842520e+02,2019-05-14,21:11:02.400000,2019-05-14,21:13:41.736666,2019-05-15 05:31:43.310
11,5.0,-2.758530e+06,2019-05-17,21:01:20.166666,2019-05-17,21:06:33.026666,2019-05-18 05:31:26.960
12,2.0,-1.787730e+05,2019-05-18,22:21:10.570000,2019-05-18,22:22:52.456666,2019-05-19 05:32:05.863
13,2.0,-2.253937e+06,2019-05-25,22:17:09.306666,2019-05-25,22:19:32.360000,2019-05-26 05:32:32.830
14,11.0,-2.854331e+04,2019-05-26,18:39:44.516666,2019-05-26,18:51:04.346666,2019-05-27 05:31:52.107
15,5.0,-3.280840e+02,2019-05-29,12:04:03.326666,2019-05-29,12:09:15.250000,2019-05-30 05:30:58.460
16,12.0,-4.921260e+03,2019-06-01,19:36:04.780000,2019-06-01,19:48:30.236666,2019-06-02 05:31:35.083
17,10.0,-5.157480e+05,2019-06-09,20:21:09.820000,2019-06-09,20:31:09.060000,2019-06-10 05:32:01.647
18,5.0,-8.530184e+03,2019-06-14,22:40:45.076666,2019-06-14,22:46:15.026666,2019-06-15 05:31:43.500
19,22.0,-6.561680e+02,2019-06-14,21:59:48.496666,2019-06-14,22:21:52.196666,2019-06-15 05:31:40.083
20,5.0,-2.952756e+03,2019-06-14,22:51:39.233333,2019-06-14,22:56:12.100000,2019-06-15 05:31:44.750
21,13.0,-3.280840e+02,2019-06-15,01:14:37.736666,2019-06-15,01:27:57.336666,2019-06-16 05:30:47.750
22,11.0,-5.905512e+03,2019-06-15,01:56:51.610000,2019-06-15,02:07:32.220000,2019-06-16 05:30:53.127
23,11.0,-3.280840e+02,2019-06-15,01:56:10.866666,2019-06-15,02:07:37.036666,2019-06-16 05:30:53.193
24,11.0,-1.181102e+04,2019-06-15,02:11:03.360000,2019-06-15,02:21:35.666666,2019-06-16 05:30:55.063
25,6.0,-3.280840e+02,2019-06-15,02:20:26.330000,2019-06-15,02:26:39.170000,2019-06-16 05:30:55.537
26,13.0,-1.968504e+03,2019-06-15,01:58:31.310000,2019-06-15,02:11:26.276666,2019-06-16 05:30:53.957
27,2.0,-6.561680e+02,2019-06-15,02:24:56.456666,2019-06-15,02:27:05.510000,2019-06-16 05:30:55.443
28,9.0,-1.990092e+07,2019-07-25,16:31:14.886666,2019-07-25,16:40:29.046666,2019-07-26 05:31:03.980
29,25.0,-9.337271e+06,2019-07-26,01:55:59.876666,2019-07-26,02:20:39.063333,2019-07-27 05:30:28.807
30,44.0,-2.032480e+07,2019-07-27,23:14:23.683333,2019-07-27,23:58:23.820000,2019-07-28 05:32:05.610
31,6.0,-7.634515e+05,2019-07-29,21:29:25.016666,2019-07-29,21:34:57.306666,2019-07-30 05:31:18.720

In [62]:
#pull date/time columns for analysis with a negative tripdistance, sorted by starttime
query = '''
SELECT tripduration, tripdistance, startdate, starttime, enddate, endtime, create_dt 
FROM trips
WHERE tripdistance < 0
ORDER BY starttime;
'''

In [64]:
with engine.connect() as connection:    
    pull_neg_distance = pd.read_sql(text(query), con = connection)
pull_neg_distance

,tripduration,tripdistance,startdate,starttime,enddate,endtime,create_dt
0,13.0,-3.280840e+02,2019-06-15,01:14:37.736666,2019-06-15,01:27:57.336666,2019-06-16 05:30:47.750
1,25.0,-9.337271e+06,2019-07-26,01:55:59.876666,2019-07-26,02:20:39.063333,2019-07-27 05:30:28.807
2,11.0,-3.280840e+02,2019-06-15,01:56:10.866666,2019-06-15,02:07:37.036666,2019-06-16 05:30:53.193
3,11.0,-5.905512e+03,2019-06-15,01:56:51.610000,2019-06-15,02:07:32.220000,2019-06-16 05:30:53.127
4,13.0,-1.968504e+03,2019-06-15,01:58:31.310000,2019-06-15,02:11:26.276666,2019-06-16 05:30:53.957
5,11.0,-1.181102e+04,2019-06-15,02:11:03.360000,2019-06-15,02:21:35.666666,2019-06-16 05:30:55.063
6,6.0,-3.280840e+02,2019-06-15,02:20:26.330000,2019-06-15,02:26:39.170000,2019-06-16 05:30:55.537
7,2.0,-6.561680e+02,2019-06-15,02:24:56.456666,2019-06-15,02:27:05.510000,2019-06-16 05:30:55.443
8,3.0,-1.684701e+06,2019-05-04,03:23:54.140000,2019-05-04,03:26:29.310000,2019-05-05 05:30:42.633
9,3.0,-1.119964e+06,2019-05-03,03:36:18.613333,2019-05-03,03:39:28.660000,2019-05-04 05:30:38.683
10,5.0,-3.280840e+02,2019-05-29,12:04:03.326666,2019-05-29,12:09:15.250000,2019-05-30 05:30:58.460
11,60.0,-2.129265e+03,2019-05-05,15:51:56.323333,2019-05-05,16:51:37.006666,2019-05-06 05:31:09.407
12,9.0,-1.990092e+07,2019-07-25,16:31:14.886666,2019-07-25,16:40:29.046666,2019-07-26 05:31:03.980
13,2.0,-1.684806e+06,2019-05-04,17:44:47.986666,2019-05-04,17:46:26.800000,2019-05-05 05:31:18.497
14,1.0,-1.684971e+06,2019-05-04,18:20:53.513333,2019-05-04,18:21:46.796666,2019-05-05 05:31:23.903
15,3.0,-6.296916e+04,2019-05-14,18:25:49.013333,2019-05-14,18:28:26.620000,2019-05-15 05:31:25.173
16,11.0,-2.854331e+04,2019-05-26,18:39:44.516666,2019-05-26,18:51:04.346666,2019-05-27 05:31:52.107
17,3.0,-2.624672e+03,2019-05-14,19:34:54.086666,2019-05-14,19:38:12.580000,2019-05-15 05:31:34.027
18,12.0,-4.921260e+03,2019-06-01,19:36:04.780000,2019-06-01,19:48:30.236666,2019-06-02 05:31:35.083
19,22.0,-3.608924e+03,2019-05-14,19:40:56.146666,2019-05-14,20:03:06.506666,2019-05-15 05:31:36.690
20,20.0,-3.280840e+03,2019-05-14,19:42:58.320000,2019-05-14,20:03:13.833333,2019-05-15 05:31:36.630
21,10.0,-5.157480e+05,2019-06-09,20:21:09.820000,2019-06-09,20:31:09.060000,2019-06-10 05:32:01.647
22,2.0,-1.685315e+06,2019-05-04,20:40:10.926666,2019-05-04,20:42:18.600000,2019-05-05 05:31:48.947
23,5.0,-2.758530e+06,2019-05-17,21:01:20.166666,2019-05-17,21:06:33.026666,2019-05-18 05:31:26.960
24,3.0,-9.842520e+02,2019-05-14,21:11:02.400000,2019-05-14,21:13:41.736666,2019-05-15 05:31:43.310
25,6.0,-7.634515e+05,2019-07-29,21:29:25.016666,2019-07-29,21:34:57.306666,2019-07-30 05:31:18.720
26,22.0,-6.561680e+02,2019-06-14,21:59:48.496666,2019-06-14,22:21:52.196666,2019-06-15 05:31:40.083
27,2.0,-2.253937e+06,2019-05-25,22:17:09.306666,2019-05-25,22:19:32.360000,2019-05-26 05:32:32.830
28,2.0,-1.787730e+05,2019-05-18,22:21:10.570000,2019-05-18,22:22:52.456666,2019-05-19 05:32:05.863
29,5.0,-8.530184e+03,2019-06-14,22:40:45.076666,2019-06-14,22:46:15.026666,2019-06-15 05:31:43.500
30,5.0,-2.952756e+03,2019-06-14,22:51:39.233333,2019-06-14,22:56:12.100000,2019-06-15 05:31:44.750
31,44.0,-2.032480e+07,2019-07-27,23:14:23.683333,2019-07-27,23:58:23.820000,2019-07-28 05:32:05.610

In [66]:
#pull date/time columns for analysis with a negative tripdistance, sorted by tripduration
query = '''
SELECT tripduration, tripdistance, startdate, starttime, enddate, endtime, create_dt 
FROM trips
WHERE tripdistance < 0
ORDER BY tripduration;
'''

In [67]:
with engine.connect() as connection:    
    pull_neg_distance = pd.read_sql(text(query), con = connection)
pull_neg_distance

,tripduration,tripdistance,startdate,starttime,enddate,endtime,create_dt
0,1.0,-1.684971e+06,2019-05-04,18:20:53.513333,2019-05-04,18:21:46.796666,2019-05-05 05:31:23.903
1,2.0,-1.684806e+06,2019-05-04,17:44:47.986666,2019-05-04,17:46:26.800000,2019-05-05 05:31:18.497
2,2.0,-1.685315e+06,2019-05-04,20:40:10.926666,2019-05-04,20:42:18.600000,2019-05-05 05:31:48.947
3,2.0,-2.253937e+06,2019-05-25,22:17:09.306666,2019-05-25,22:19:32.360000,2019-05-26 05:32:32.830
4,2.0,-6.561680e+02,2019-06-15,02:24:56.456666,2019-06-15,02:27:05.510000,2019-06-16 05:30:55.443
5,2.0,-1.787730e+05,2019-05-18,22:21:10.570000,2019-05-18,22:22:52.456666,2019-05-19 05:32:05.863
6,3.0,-2.624672e+03,2019-05-14,19:34:54.086666,2019-05-14,19:38:12.580000,2019-05-15 05:31:34.027
7,3.0,-9.842520e+02,2019-05-14,21:11:02.400000,2019-05-14,21:13:41.736666,2019-05-15 05:31:43.310
8,3.0,-1.119964e+06,2019-05-03,03:36:18.613333,2019-05-03,03:39:28.660000,2019-05-04 05:30:38.683
9,3.0,-1.684701e+06,2019-05-04,03:23:54.140000,2019-05-04,03:26:29.310000,2019-05-05 05:30:42.633
10,3.0,-6.296916e+04,2019-05-14,18:25:49.013333,2019-05-14,18:28:26.620000,2019-05-15 05:31:25.173
11,5.0,-3.280840e+02,2019-05-29,12:04:03.326666,2019-05-29,12:09:15.250000,2019-05-30 05:30:58.460
12,5.0,-2.952756e+03,2019-06-14,22:51:39.233333,2019-06-14,22:56:12.100000,2019-06-15 05:31:44.750
13,5.0,-8.530184e+03,2019-06-14,22:40:45.076666,2019-06-14,22:46:15.026666,2019-06-15 05:31:43.500
14,5.0,-2.758530e+06,2019-05-17,21:01:20.166666,2019-05-17,21:06:33.026666,2019-05-18 05:31:26.960
15,6.0,-3.280840e+02,2019-06-15,02:20:26.330000,2019-06-15,02:26:39.170000,2019-06-16 05:30:55.537
16,6.0,-7.634515e+05,2019-07-29,21:29:25.016666,2019-07-29,21:34:57.306666,2019-07-30 05:31:18.720
17,9.0,-1.990092e+07,2019-07-25,16:31:14.886666,2019-07-25,16:40:29.046666,2019-07-26 05:31:03.980
18,10.0,-5.157480e+05,2019-06-09,20:21:09.820000,2019-06-09,20:31:09.060000,2019-06-10 05:32:01.647
19,11.0,-3.280840e+02,2019-06-15,01:56:10.866666,2019-06-15,02:07:37.036666,2019-06-16 05:30:53.193
20,11.0,-5.905512e+03,2019-06-15,01:56:51.610000,2019-06-15,02:07:32.220000,2019-06-16 05:30:53.127
21,11.0,-1.181102e+04,2019-06-15,02:11:03.360000,2019-06-15,02:21:35.666666,2019-06-16 05:30:55.063
22,11.0,-2.854331e+04,2019-05-26,18:39:44.516666,2019-05-26,18:51:04.346666,2019-05-27 05:31:52.107
23,12.0,-4.921260e+03,2019-06-01,19:36:04.780000,2019-06-01,19:48:30.236666,2019-06-02 05:31:35.083
24,13.0,-1.968504e+03,2019-06-15,01:58:31.310000,2019-06-15,02:11:26.276666,2019-06-16 05:30:53.957
25,13.0,-3.280840e+02,2019-06-15,01:14:37.736666,2019-06-15,01:27:57.336666,2019-06-16 05:30:47.750
26,20.0,-3.280840e+03,2019-05-14,19:42:58.320000,2019-05-14,20:03:13.833333,2019-05-15 05:31:36.630
27,22.0,-3.608924e+03,2019-05-14,19:40:56.146666,2019-05-14,20:03:06.506666,2019-05-15 05:31:36.690
28,22.0,-6.561680e+02,2019-06-14,21:59:48.496666,2019-06-14,22:21:52.196666,2019-06-15 05:31:40.083
29,25.0,-9.337271e+06,2019-07-26,01:55:59.876666,2019-07-26,02:20:39.063333,2019-07-27 05:30:28.807
30,44.0,-2.032480e+07,2019-07-27,23:14:23.683333,2019-07-27,23:58:23.820000,2019-07-28 05:32:05.610
31,60.0,-2.129265e+03,2019-05-05,15:51:56.323333,2019-05-05,16:51:37.006666,2019-05-06 05:31:09.407

In [57]:
#pull date/time columns for analysis with a negative tripdistance, sorted by tripdistance in SQL
query = '''
SELECT tripduration, tripdistance, startdate, starttime, enddate, endtime, create_dt 
FROM trips
WHERE tripdistance < 0
ORDER BY tripdistance;
'''

In [58]:
with engine.connect() as connection:    
    pull_neg_distance = pd.read_sql(text(query), con = connection)
pull_neg_distance.head(10)

,tripduration,tripdistance,startdate,starttime,enddate,endtime,create_dt
0,44.0,-2.032480e+07,2019-07-27,23:14:23.683333,2019-07-27,23:58:23.820000,2019-07-28 05:32:05.610
1,9.0,-1.990092e+07,2019-07-25,16:31:14.886666,2019-07-25,16:40:29.046666,2019-07-26 05:31:03.980
2,25.0,-9.337271e+06,2019-07-26,01:55:59.876666,2019-07-26,02:20:39.063333,2019-07-27 05:30:28.807
3,5.0,-2.758530e+06,2019-05-17,21:01:20.166666,2019-05-17,21:06:33.026666,2019-05-18 05:31:26.960
4,2.0,-2.253937e+06,2019-05-25,22:17:09.306666,2019-05-25,22:19:32.360000,2019-05-26 05:32:32.830
5,2.0,-1.685315e+06,2019-05-04,20:40:10.926666,2019-05-04,20:42:18.600000,2019-05-05 05:31:48.947
6,1.0,-1.684971e+06,2019-05-04,18:20:53.513333,2019-05-04,18:21:46.796666,2019-05-05 05:31:23.903
7,2.0,-1.684806e+06,2019-05-04,17:44:47.986666,2019-05-04,17:46:26.800000,2019-05-05 05:31:18.497
8,3.0,-1.684701e+06,2019-05-04,03:23:54.140000,2019-05-04,03:26:29.310000,2019-05-05 05:30:42.633
9,3.0,-1.119964e+06,2019-05-03,03:36:18.613333,2019-05-03,03:39:28.660000,2019-05-04 05:30:38.683

In [59]:
#pull zero tripdurations relative to other time and datestamps, sorted by tripdistance in Python
query = '''
SELECT tripduration, tripdistance, startdate, starttime, enddate, endtime, create_dt 
FROM trips
WHERE tripdistance < 0;
'''

In [61]:
with engine.connect() as connection:    
    pull_neg_distance = pd.read_sql(text(query), con = connection)
pull_neg_distance.sort_values(by = 'tripdistance').head(10)

,tripduration,tripdistance,startdate,starttime,enddate,endtime,create_dt
2,44.0,-2.032480e+07,2019-07-27,23:14:23.683333,2019-07-27,23:58:23.820000,2019-07-28 05:32:05.610
0,9.0,-1.990092e+07,2019-07-25,16:31:14.886666,2019-07-25,16:40:29.046666,2019-07-26 05:31:03.980
1,25.0,-9.337271e+06,2019-07-26,01:55:59.876666,2019-07-26,02:20:39.063333,2019-07-27 05:30:28.807
19,5.0,-2.758530e+06,2019-05-17,21:01:20.166666,2019-05-17,21:06:33.026666,2019-05-18 05:31:26.960
20,2.0,-2.253937e+06,2019-05-25,22:17:09.306666,2019-05-25,22:19:32.360000,2019-05-26 05:32:32.830
8,2.0,-1.685315e+06,2019-05-04,20:40:10.926666,2019-05-04,20:42:18.600000,2019-05-05 05:31:48.947
7,1.0,-1.684971e+06,2019-05-04,18:20:53.513333,2019-05-04,18:21:46.796666,2019-05-05 05:31:23.903
6,2.0,-1.684806e+06,2019-05-04,17:44:47.986666,2019-05-04,17:46:26.800000,2019-05-05 05:31:18.497
5,3.0,-1.684701e+06,2019-05-04,03:23:54.140000,2019-05-04,03:26:29.310000,2019-05-05 05:30:42.633
4,3.0,-1.119964e+06,2019-05-03,03:36:18.613333,2019-05-03,03:39:28.660000,2019-05-04 05:30:38.683

In [68]:
#pull zero tripdurations relative to zero tripdistance
query = '''
SELECT tripduration, tripdistance, startdate, starttime, enddate, endtime, create_dt 
FROM trips
WHERE tripduration = 0.0 AND tripdistance = 0;
'''

In [69]:
with engine.connect() as connection:    
    zero_td_df = pd.read_sql(text(query), con = connection)
zero_td_df.sort_values(by = ['startdate' , 'starttime'])

,tripduration,tripdistance,startdate,starttime,enddate,endtime,create_dt
470,0.0,0.0,2019-05-01,00:26:58.376666,2019-05-01,00:27:07.540000,2019-05-02 05:30:26.497
474,0.0,0.0,2019-05-01,01:11:40.936666,2019-05-01,01:11:52.916666,2019-05-02 05:30:32.827
469,0.0,0.0,2019-05-01,01:17:28.820000,2019-05-01,01:17:45.083333,2019-05-02 05:30:33.110
475,0.0,0.0,2019-05-01,02:27:12.186666,2019-05-01,02:27:21.420000,2019-05-02 05:30:40.340
477,0.0,0.0,2019-05-01,12:46:28.766666,2019-05-01,12:46:39.456666,2019-05-02 05:30:57.173
...,...,...,...,...,...,...,...
463,0.0,0.0,2019-07-31,23:10:01.343333,2019-07-31,23:10:13.460000,2019-08-01 05:31:20.890
464,0.0,0.0,2019-07-31,23:10:14.190000,2019-07-31,23:10:30.180000,2019-08-01 05:31:20.860
458,0.0,0.0,2019-07-31,23:31:15.916666,2019-07-31,23:31:26.800000,2019-08-01 05:31:21.993
465,0.0,0.0,2019-07-31,23:35:27.006666,2019-07-31,23:35:48.646666,2019-08-01 05:31:22.200
466,0.0,0.0,2019-07-31,23:56:14.923333,2019-07-31,23:56:25.333333,2019-08-01 05:31:22.897

#EDA

###tripduration

####FOR Q2: remove all trips less than one minute and greater than 24 hours to create a compliant trips table
There are a total of 9154 entries out of compliance with less than 1 minute

####There are 6938 rows with trip durations longer than 24 hours  (60*24 = 1440 minutes)
Q. Do we remove all rows that go beyond 24 hours, or do we need to create a recalculated trip distance column with tripduration cappped at 24 hrs?

In [71]:
#for Q2 non-compliance tripduration less than 1 min
query = '''
SELECT tripduration, tripdistance, startdate, starttime, enddate, endtime, create_dt 
FROM trips
WHERE tripduration < 1;
'''

In [73]:
with engine.connect() as connection:    
    non_compliant_td_under = pd.read_sql(text(query), con = connection)
non_compliant_td_under

,tripduration,tripdistance,startdate,starttime,enddate,endtime,create_dt
0,0.000000,0.0,2019-07-20,15:50:42.690000,2019-07-20,15:51:07.413333,2019-07-21 05:31:02.420
1,0.000000,0.0,2019-07-20,15:45:02,2019-07-20,15:45:39,2019-07-21 09:43:46.083
2,0.000000,0.0,2019-07-20,16:30:35.676666,2019-07-20,16:30:50.980000,2019-07-21 05:31:05.157
3,0.408650,0.0,2019-07-20,16:32:43.496666,2019-07-20,16:33:08.016666,2019-07-21 10:52:57.963
4,0.628667,0.0,2019-07-20,16:33:46.920000,2019-07-20,16:34:24.640000,2019-07-21 10:52:58.057
...,...,...,...,...,...,...,...
9149,0.823383,0.0,2019-07-19,23:34:04.326666,2019-07-19,23:34:53.726666,2019-07-20 10:53:24.207
9150,0.000000,0.0,2019-07-19,23:55:12.203333,2019-07-19,23:55:23.816666,2019-07-20 05:31:43.253
9151,0.000000,0.0,2019-07-19,23:54:06.006666,2019-07-19,23:54:24.746666,2019-07-20 05:31:43.283
9152,0.535033,0.0,2019-07-20,00:23:40.143333,2019-07-20,00:24:12.246666,2019-07-21 10:52:15.327
9153,0.000000,0.0,2019-07-20,01:36:25,2019-07-20,01:36:55,2019-07-21 09:41:26.920

In [78]:
#for Q2 non-compliance tripduration greater than 24 hrs
query = '''
SELECT tripduration, tripdistance, startdate, starttime, enddate, endtime, create_dt 
FROM trips
WHERE tripduration > 1440.00;
'''

In [79]:
with engine.connect() as connection:    
    non_compliant_td_over = pd.read_sql(text(query), con = connection)
non_compliant_td_over

,tripduration,tripdistance,startdate,starttime,enddate,endtime,create_dt
0,1911.0,12824.80,2019-07-20,16:17:38,2019-07-20,16:49:29,2019-07-21 06:25:20.570
1,2497.0,23070.87,2019-07-20,16:01:04,2019-07-20,16:42:41,2019-07-21 06:25:20.503
2,2413.0,22906.82,2019-07-20,16:02:28,2019-07-20,16:42:41,2019-07-21 06:25:20.537
3,2103.0,12631.23,2019-07-20,16:19:33,2019-07-20,16:54:36,2019-07-21 06:25:20.600
4,2118.0,12972.44,2019-07-20,16:19:38,2019-07-20,16:54:56,2019-07-21 06:25:20.630
...,...,...,...,...,...,...,...
6933,3359.0,16860.24,2019-07-20,01:29:13,2019-07-20,02:25:12,2019-07-21 06:25:06.743
6934,3435.0,16391.08,2019-07-20,01:36:56,2019-07-20,02:34:11,2019-07-21 06:25:06.870
6935,3353.0,13917.32,2019-07-20,01:34:58,2019-07-20,02:30:51,2019-07-21 06:25:06.807
6936,3394.0,15032.81,2019-07-20,01:37:26,2019-07-20,02:34:00,2019-07-21 06:25:06.840
6937,6687.0,48881.24,2019-07-20,00:38:44,2019-07-20,02:30:11,2019-07-21 06:25:06.777

##For Q2 - Compliant Trips

###--removed 2b. trips below one minute
###--removed 2c. lengths capped at 24 hrs (if we go with removing all)

NOTE: Need to add lat, lon, geometry column from Dani's work
NOTE: Shoudl we drop any columns from this table, like create_dt or pubtimestamp?

In [82]:
#for trips table compliance, remove negative, 0 value, and less than 1 min
query = '''
SELECT *
FROM trips
WHERE tripduration > 1 OR tripduration < 1400.00;
'''

In [83]:
with engine.connect() as connection:    
    trips_compliant = pd.read_sql(text(query), con = connection)
trips_compliant

,pubtimestamp,companyname,triprecordnum,sumdid,tripduration,tripdistance,startdate,starttime,enddate,endtime,startlatitude,startlongitude,endlatitude,endlongitude,triproute,create_dt
0,2019-07-20 15:44:33.583,Lyft,LFT243,Powered405856,8.556267,5807.086800,2019-07-20,15:36:00.090000,2019-07-20,15:44:33.466666,36.164870,-86.780570,36.168190,-86.782960,"[(36.16487, -86.78057), (36.16483, -86.78074),...",2019-07-21 10:52:54.647
1,2019-07-20 15:44:43.910,Bird,BRD526,PoweredXZKC9,23.000000,0.000000,2019-07-20,15:23:12.110000,2019-07-20,15:46:18.123333,36.160800,-86.775600,36.149700,-86.779400,"[(36.160879, -86.775585), (36.160879, -86.7755...",2019-07-21 05:31:02.360
2,2019-07-20 15:44:43.910,Bird,BRD525,PoweredN4JHJ,23.000000,3280.840000,2019-07-20,15:23:13.970000,2019-07-20,15:46:14.420000,36.161000,-86.775600,36.151600,-86.779400,"[(36.161002, -86.775539), (36.161002, -86.7755...",2019-07-21 05:31:02.330
3,2019-07-20 15:44:43.910,Bird,BRD518,Powered89B6C,6.000000,14435.696000,2019-07-20,15:40:49.363333,2019-07-20,15:46:21.073333,36.149500,-86.764100,36.149500,-86.764200,"[(36.149556, -86.76418), (36.149556, -86.76418)]",2019-07-21 05:31:02.110
4,2019-07-20 15:44:43.910,Bird,BRD523,Powered8NZIA,16.000000,10826.772000,2019-07-20,15:30:18.713333,2019-07-20,15:46:35.696666,36.138100,-86.820600,36.150300,-86.800100,"[(36.138212, -86.8205), (36.138235, -86.820417...",2019-07-21 05:31:02.267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
565517,2019-07-20 15:42:02.550,Lyft,LFT238,Powered515881,5.860683,4432.414840,2019-07-20,15:36:10.796666,2019-07-20,15:42:02.436666,36.164880,-86.780530,36.168180,-86.783210,"[(36.16488, -86.78053), (36.16481, -86.7807), ...",2019-07-21 10:52:54.493
565518,2019-07-20 15:42:09.813,Lyft,LFT239,Powered238934,4.561867,2795.275680,2019-07-20,15:37:35.963333,2019-07-20,15:42:09.673333,36.164310,-86.769350,36.160860,-86.773510,"[(36.16431, -86.76935), (36.16419, -86.76941),...",2019-07-21 10:52:54.523
565519,2019-07-20 15:42:25.903,Lyft,LFT240,Powered439418,12.566600,5278.871560,2019-07-20,15:29:51.813333,2019-07-20,15:42:25.810000,36.147730,-86.812750,36.148810,-86.811790,"[(36.14773, -86.81275), (36.1477, -86.81264), ...",2019-07-21 10:52:54.553
565520,2019-07-20 15:42:31.040,Lyft,LFT241,Powered392189,9.561500,3904.199600,2019-07-20,15:32:57.090000,2019-07-20,15:42:30.780000,36.153190,-86.789480,36.157950,-86.778280,"[(36.15319, -86.78948), (36.15322, -86.78952),...",2019-07-21 10:52:54.587
565521,2019-07-28 19:59:06.197,Lime,LIM819937,PoweredOIAXAHMOFTKWL,2.000000,618.348346,2019-07-28,19:28:55,2019-07-28,19:30:07,36.158234,-86.779203,36.157781,-86.778564,"[(36.15823, -86.7792), (36.15805, -86.77912), ...",2019-07-29 09:18:06.940

Should we add in triproute to these tables - GPS coordinates for entire trip duration at min collection frequency of one per 30 sec

A scatterplot might be helpful to see any trends on starttime & endtime for this chart, but seaborn not in this environment.  

Scooters report their locations every 5 minutes, but our start times do not indicate these 0/0 values are due to location reporting.

The trip distance column appears to be in scientific notation.
 The scientific notation means any number expressed in the power of 10.for example- 340 can be written in scientific notation as 3.4 X102.in pythons, we use str.format() on a number with “{:e}” to format the number to scientific notation. str.format() formats the number as a float, followed by “e+” and the appropriate power of 10. For example- 340 will be displayed as 3.4e+2
https://www.geeksforgeeks.org/display-scientific-notation-as-float-in-python/

To display reverse of scientific numbers to float

We have to pass a variable holding the scientific format of a number, as follows:

x = 3.234e+4
 
print("{:f}".format(x))  # f represents float
Output:

32340.000000

https://stackoverflow.com/questions/658763/how-to-suppress-scientific-notation-when-printing-float-values
https://stackoverflow.com/questions/67879685/python-decimal-decimal-producing-result-in-scientific-notation
The numpy module offers np.format_float_positional()
Chris mentioned something about being cautious when dealing with floats so we might want to ask a question about what methods to be cautious about in dealing with scientifc notation, or bring it up in the meeting tomorrow?

In Q1, what does "scooter usage" mean?  Is it the type of scooter i.e. powered or standard, or is usage time, usage distance?

df1[df1<0].count()

pubdatetime, latitude, longitude - format; create point column
sumdtype - powered; standard
chargelevel - there's a 0 and NaN (same or separate?)
sumdgroup - bicycle, scooter, Scooter
costpermin - 0, 5, 6, 10, 15, 23, 30 cents
scooters.companyname - Bird, Bolt, Gotcha, Jump, Lime, Lyft, Spin
trips.companyname - Bird, Bolt Mobility, Gotcha, JUMP, Lime, Lyft, SPIN (match both name lists)
tripduration - MAX: 512619.0, MIN: -19.358267 (pull all neg numbers in relation to something else)
tripdistance - MAX: 3.188448e+07, MIN: -20324803.8 (what does neg mean?)
startdate - format
starttime - meaning of zero
enddate - format